<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
			<div class="col-md-9">
				<h1 id="loginready"> Signup! </h1>

					<%= form_for(@user) do |f|%>
						<p class="headline">
					  		Email: <%= f.text_field :email, class: "form-inline form-control" %>

					  		First Name: <%= f.text_field :firstname, class: "form-label form-control" %> 
				

					  		Last Name: <%= f.text_field :lastname, class: "form-control" %>
		

					  		Username: <%= f.text_field :username, class: "form-control" %>

					  		Password: <%= f.password_field :password, class: "form-control" %>

					  		Confirm password:
					    		<%= f.password_field :password_confirmation, class: "form-control" %> <br>

					  
					  		Upload your profile picture: 
					 		 <%= f.file_field :photo %> <br>
							 <%= f.submit "Signup!", class: 'form-control btn btn-primary ' %> 

					  		<p class="shoutoutright">
					  		Your ThaiFood Shoutout!<%= f.text_area :tagline, class: "form-control comment" %> </p>
					  		</p>

					<% end %>

					<p class="signuppix">
					  	<img src="<%= asset_path('signupdish.jpeg') %>" alt="myThai" class="img-thumbnail">
					</p> 

					<h4> 
						... I want some myThai! </h4> 

			</div>
	</div>
</div> 