Sign Up Page!

<h1>..awesome food ahead!</h1>

<%= form_for(@user) do |f|%>

  Email: <%= f.text_field :email %><br>
  First Name: <%= f.text_field :firstname %><br>
  Lastname: <%= f.text_field :lastname %><br>
  Username: <%= f.text_field :username %><br> 
  Password: <%= f.password_field :password %><br>
  Please confirm your password:
    <%= f.password_field :password_confirmation %> <br>
  Your Inner ThaiFood Shoutout!: <%= f.text_field :tagline %><br> 

  <div class='form-group'>
  	Please upload your profile picture: 
    <%= f.file_field :photo %>
  <%= f.submit "Signup!" %>
  </div>

<% end %>
