<!DOCTYPE html>
<html>
<head>
  <title>myThai</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <!--  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'> -->
</head>
<body>

<div class="container-fluid">
<div class='pull-right'>
    <% if current_user %>
      <%= image_tag current_user.photo.url(:profile) %>
      <%= current_user.username %> | "<%= current_user.tagline %> "| <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %> | <%= link_to "Signup", signup_path %>
    <% end %>
  </div>

<!-- look up "clear both" -->

<div class="row">
  <div class="col-md-3">user info goes here</div>
  <div class="col-md-9">
    <%= yield %>
  </div>
</div>

</div>
</body>
</html>
